body  {
    background-color:#FFF9EB !important; 
}
#top{
    background-image: url("../images/banner-img2.jpg");
    height: 600px;
}
.navbar{
position:absolute;
top:0;
width:100%;
z-index:1000;
background:transparent;
}
.nav-link{
color:white;
font-size:20px;
}

.nav-item{
margin:20px;
margin-left:50px;
}

.navbar-nav{
margin-left:150px;
}
.icon{
display:flex;
justify-content:flex-end;
gap:30px;
margin-left:400px;
margin-top: 35px;
}
.head{
    color: #FFF9EB;
    margin-top: 150px;
    margin-left: 500px !important;
}
.head h1{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    margin-left:150px !important;
}
.head p{
    font-size: 18px;
    margin-left: 40px;
}
.heads{ 
    color: black;
    display: flex;
    gap: 100px;
    margin-top: 150px;
    margin-left: 150px;
}
.product1{
    display: flex;
    gap: 50px;
    margin-left: 140px;
    margin-top: 100px;
}
.heads3{
    margin-left: 80px;
}
.product1 img{
    width: 120px;
    height: 150px;
}
.pro1{
    margin-top: 50px;
    margin-left: -40px;
    font-size: 20px;
}
.prob1{
    margin-top: 50px;
    margin-left: 80px;
}
.num{
    width: 60px;
}
.price{
    margin-left: 80px;
    margin-top: 50px;
}
.fa-trash-can{
    margin-left: 40px;
    margin-top: 50px;
}
.sec2{
    margin-top: -800px;   
    width: 400px;
    margin-left: 1100px;
    margin-bottom: 600px;
    
}
.sec2cart{
    text-align: center;
    font-size: 40px;
    color: #6b0f0f;
    font-family: 'Times New Roman', Times, serif;
}
.sec2cart1,.sec3cart2{
    text-align: center;
    border-bottom: 1px solid black;
}
.sb1,.sb2{
    height: 50px;
    width:170px;
    margin-left: 20px;
    margin-top:50px ;
     background-color: #FFF9EB;
    color: #6b0f0f;
    
}
.sb3{
    margin-top: 20px;
    height: 50px;
    width:100%;
    background-color: #6b0f0f;
    color: #FFF9EB;
}
.sec2cart1{
    border-top: 1px solid black;
    margin: 3px;
    padding: 6px;
}
.sec2cart2{
    margin: 3px;
    padding: 6px;
}
.sb1:hover,.sb2:hover{
    background-color: #6b0f0f;
    color: #FFF9EB;
    border: none;
}
.sb3:hover{
   background-color: #FFF9EB;
    color: #6b0f0f;
    border: none;
}
.offer{
   background-image:url("../images/background-img.jpg");
   height: 650px; 
   display: flex;
   margin-top: 600px;
}
.offerdiv1{
   margin-top: 200px;
   margin-left: 200px;;
   width: 500px;
}
.offerp{
   font-size: 70px;
   font-family: 'Times New Roman', Times, serif;
   color: #503131;
}
.offerdiv2{
   margin-top: 300px;
   margin-left: 200px;
   width:500px;
}
input{
   width: 400px;
   height:60px;
   background-color: #FFF9EB;
   border-radius: 5px;
   text-align: center;
   border: none;
}
.registerb{
   width: 400px;
   height: 60px;
   margin-top: 20px;
   background-color: #5f0b18;
   color: #FFF9EB;
   border-radius: 5px;
   border: none;
}
.registerb:hover{
   background-color: #FFF9EB;
   color: #5f0b18;
}
.footer{
background:#6b0f0f;
color:white;
padding:100px 80px;
}

.footercontainer{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
}

.footercol{
width:18%;
}

.logo{
font-size:50px;
font-family:'Times New Roman', serif;
margin-bottom:20px;
}

.footercol h4{
margin-bottom:20px;
}

.footercol ul{
list-style:none;
padding:0;
}

.footercol ul li{
margin-bottom:12px;
}

.socialicons{
margin-top:20px;
display:flex;
gap:20px;
font-size:20px;
}
.top{
    background-color: #ffe7ad;
}
 